.App {
  text-align: center;
}

#tasks tr td input {
  width: 90%;
}

table {
  table-layout: fixed;
  width: 100%;
}

input[type=text]:focus{
  border: 1px;
  background-color: lightsteelblue;
  /* background-color: grey; */
}

Modal{
  display: none;
}